<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление нового полиса</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/add.css}" href="/css/add.css">
</head>
<body>

<div class="container mt-5">
    <h2>Добавление нового полиса</h2>
    <form id="contractForm">
        <div class="form-group">
            <label for="conclusionDate">Дата</label>
            <input type="date" class="form-control" id="conclusionDate" name="conclusionDate" required>
        </div>
        <div class="form-group">
            <label for="company">Компания</label>
            <select class="form-control" id="company" name="company" required>
                <option value="" disabled selected>Выберите компанию</option>
                <!-- Options will be populated dynamically -->
            </select>
        </div>
        <div class="form-group">
            <label for="type">Вид полиса</label>
            <select class="form-control" id="type" name="type" required>
                <option value="" disabled selected>Выберите вид полиса</option>
                <!-- Options will be populated dynamically -->
            </select>
        </div>
        <div class="form-group">
            <label for="beginDate">Начало</label>
            <input type="date" class="form-control" id="beginDate" name="beginDate" required>
        </div>
        <div class="form-group">
            <label for="durationUnit">Продолжительность</label>
            <div class="d-flex">
                <select class="form-control mr-2" id="durationUnit" name="durationUnit" required>
                    <option value="" disabled selected>день/месяц/год</option>
                    <option value="days">День</option>
                    <option value="months">Месяц</option>
                    <option value="years">Год</option>
                </select>
                <label for="durationValue"></label><input type="number" class="form-control" id="durationValue" name="durationValue" placeholder="Value" min="0" required>
            </div>
        </div>
        <div class="form-group">
            <label for="fio">ФИО</label>
            <input type="text" class="form-control" id="fio" name="fio" required>
        </div>
        <div class="form-group">
            <label for="contractNumber">№ договора</label>
            <input type="text" class="form-control" id="contractNumber" name="contractNumber" required>
        </div>
        <div class="form-group">
            <label for="phone">Телефон (без +7)</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group">
            <label for="cost">Стоимость</label>
            <input type="number" class="form-control" id="cost" name="cost" min="0" required>
        </div>
        <div class="form-group">
            <label for="percentage">% КВ</label>
            <input type="number" class="form-control" id="percentage" name="percentage" min="0" required>
        </div>
        <div class="form-group">
            <label for="paymentsNumber">Кол-во выплат</label>
            <select class="form-control" id="paymentsNumber" name="paymentsNumber" required>
                <option value="" disabled selected>Выберите значение</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitContract()">Отправить</button>
        <button type="button" id="CancelButton" class="btn btn-primary">Отмена</button>
    </form>
</div>

<script type="text/javascript" th:src="@{js/add.js}" src="/js/add.js"></script>

</body>
</html>